{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
<style>
</style>

<div class="row">
    <div class="col text-center mb-4">
        <h1>Home</h1>
    </div>
</div>

<div class="row text-center">
    {% if form_login %}
        <div class="col-6 form_login">
            <h2>Login</h2>
            {{ form_start(form_login) }}
            {{ form_widget(form_login) }}
            {{ form_end(form_login) }}

            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if form_register %}
        <div class="col-6 form_register">
            <h2>Register</h2>
            {{ form_start(form_register) }}
            {{ form_widget(form_register) }}
            {{ form_end(form_register) }}
        </div>
    {% endif %}
</div>

{# {% if app.request.hasPreviousSession %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} #}

{% endblock %}
