{% extends 'base.html.twig' %}

{% block title %}Show contact{% endblock %}

{% block body %}
<style>

</style>

<div class="row">
    <div class="col-12 text-center mb-2">
        <h1>Show contact</h1>
    </div>
    <div class="col-12 text-center mb-3">
        <a href="/user" class="btn btn-primary">Back</a>
    </div>
</div>

{% if contact %}
    <div class="row">
        <div class="col-12 align-items-center">
            <div class="card card-body align-items-center">
                <ul class="list-group list-group-flush align-items-start">
                    <li class="list-group-item"><strong>First Name:</strong> {{ contact.FirstName|capitalize }}</li>
                    <li class="list-group-item"><strong>Last Name:</strong> {{ contact.LastName|upper }}</li>
                    <li class="list-group-item"><strong>Adress:</strong> {{ contact.Adress }}</li>
                    <li class="list-group-item"><strong>Phone:</strong> {{ contact.Phone }}</li>
                    <li class="list-group-item"><strong>E-mail:</strong> {{ contact.Email }}</li>
                </ul>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col">
            No contact found
        </div>
    </div>
{% endif %}

{% endblock %}
