{% extends 'base.html.twig' %}

{% block title %} My Contacts {% endblock %}

{% block body %}
<style>

</style>

{% if user %}
  <div class="row text-center mt-3 mb-4 ">
    <div class="col-12 mb-2">
      <h1>Welcome {{ user.FirstName|capitalize }}</h1>
    </div>
    <div class="col-12 mb-3">
      <div class="btn-group" role="group" aria-label="User Actions">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseInfos" role="button" aria-expanded="false" aria-controls="collapseInfos">Show infos</a> 
        <a href="/user/edit" class="btn btn-warning">Edit infos</a>
        <a href="/user/disconnect" class="btn btn-danger">Disconnect</a>
      </div>
    </div>
    <div class="collapse col-12 mb-3" id="collapseInfos">
      <div class="card card-body align-items-center">
        <ul class="list-group list-group-flush align-items-start">
          <li class="list-group-item"><strong>First Name:</strong> {{ user.FirstName|capitalize }}</li>
          <li class="list-group-item"><strong>Last Name:</strong> {{ user.LastName|capitalize }}</li>
          <li class="list-group-item"><strong>Adress:</strong> {{ user.Adress|capitalize }}</li>
          <li class="list-group-item"><strong>Phone:</strong> {{ user.Phone }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ user.Email }}</li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <a href="/contact/create" class="btn btn-success"><i class="fas fa-plus"></i> Add contact</a>
    </div>
  </div>

  {% if user.contacts %}
    <div class="row">
      <h2>Contact List</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Adress</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
            {% for c in user.contacts %}
              <tr>
                <td>{{ c.FirstName }}</td>
                <td>{{ c.LastName }}</td>
                <td>{{ c.Adress }}</td>
                <td>{{ c.Phone }}</td>
                <td>{{ c.Email }}</td>
                <td>
                  <a href="/contact/{{c.Id}}" class="btn btn-primary btn-sm"><i class="far fa-eye"></i></a>
                  <a href="/contact/delete/{{c.Id}}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  {% endif %}  

{% endif %}

{% endblock %}
